*{
    font-family: Arial, Helvetica, sans-serif;
}
.hContainer{
    display: flex;
    background-color: whitesmoke;
    height: 80px;
    align-items: center;
    width: 100%;
}

.leftHead{
    display: flex;
    justify-content:space-evenly;
    width: 50%;
}

.logoH1{
    display: flex;
        align-items: center;

}

.logoH1 img{
    width: 45px;
}

.h1span{
    display: flex;
            align-items: center;

}


.link{
    display: flex;
    /* justify-content: center; */
}
.link ul{
    display: flex;
    /* align-items: center; */
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
            align-items: center;

}

.h1Part2{
    color: #6658ED;
}



.rightHead{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.searchBox{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    background-color: rgb(228, 231, 235);
    padding: 0 15px;
    border-radius: 50px;
    border: 1px solid #ccc;
}
.searchBox img {
    width: 25px;
}
.rightIcon {
    display: flex;
    align-items: center;
    gap: 18px;
}

.rightIcon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.heroContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #EDF1FD;

    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}

.heroImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImg img{
    height: 300px;
    border-radius: 1000px;
}

.heroTag{
    color: #6658ED;
    font-weight: bold;
}

.heroTitle{
    color: #081C59;
    font-weight: bold;
    font-size: 50px;
    word-spacing: -2px;
}

.heroDes{
    color: #35426A;
    font-weight: 540;
    line-height: 30px;
    font-size: 20px;
    /* padding-bottom: 20px; */

}


.heroBtn{
    background-color: #081C59;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 120px;
}

.featureContainer{
    display: flex;
    justify-content: space-between;
    background-color: #F3F9FC;

 padding: 40px;
    margin: 20px;}

    .feastureBox{
        text-align: center;
    }

    .feastureBox p{
        color: grey;
    }

    .feastureBox img{
        background-color: aqua;
        border-radius: 100px;
        padding: 10px;
    }



    .productHead{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
    }

    .productHead h2{
        font-weight: bold;
    }

    .productHead p{
color: #6658ED;
font-size: 15px;
font-weight: bold
    };

